body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: lightgray; 
}

header {
    background-color: orange;
    padding: 10px;
}

.header-button {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gray;
    padding: 20px;
}

.login-box {
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-buttons {
    margin-top: 20px;
}

.login-button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: orange;
    color: white;
    font-weight: bold;
}

.login-button:hover {
    background-color: #ff7f00;
}



.input-container {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 20px; /* Adjust as needed */
    height: auto;
    cursor: pointer;
}

.login-input {
    width: calc(100% - 30px); /* Adjusted for icon */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

