/* Add your CSS styles here */
body {
    padding: 5rem 5rem 10rem;
    line-height: 1.7;
    font-family: 'Nunito Sans', sans-serif;
    color: #555;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #9be15d, #00e3ae);
  }

header {
    background-color: orange;
    padding: 10px;
}

.header-button {
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.admin-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /**height: calc(100vh - 50px); /* Adjust height as needed */
}

.center-content {
/**    background-color: white;**/
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.btn-success{

        height: 10rem;
        width: 18rem;
        font-size: 200%;
        justify-content: center;

}

h1 {
    font-family: 'Megrim', sans-serif;
    font-size: 4rem;
    color: white;
    transform: skewY(-5deg);
    text-align: center;
    position: relative;
    word-spacing: 3px;
    margin-bottom: 6rem;
  }



  h1::before {
    content: '';
    display: block;
    height: 49%;
    width: 80%;
    position: absolute;
    top: 105%;
    left: 50%;
    background: linear-gradient(to bottom, #9be15d, #00e3ae);
    opacity: 0.9;
    z-index: -1;
    transform: skewY(360deg) translate(-50%, -50%);

  }

h3{

        font-size: 200%;

}


.button-group {
    margin-top: 20px;

}

.button-group button {
    margin: 5px;
}

.button-container{

    height: 10%;

}

