
.button-container {
    margin-top: 20px;
  }
  

.button-container button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
  }
  

.button-container button:hover {
    background-color: #45a049; /* Darker Green */
  }
  